In [3]:
# 결측치 (Missing Data)
# CSV 파일 읽어오기

import pandas as pd

path = "../bicycle/bicycle.csv"

dt = pd.read_csv(path, encoding='cp949')

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   대여거치대    396 non-null    float64
 5   반납일시     420 non-null    object
 6   반납대여소번호  420 non-null    int64
 7   반납대여소명   420 non-null    object
 8   반납거치대    409 non-null    float64
 9   이용시간     405 non-null    float64
 10  이용거리     404 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 36.2+ KB

In [5]:
dt.head()

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39,3,중랑센터,7.0,10.0,1650.0

In [6]:
dt_test = dt[['대여소번호', '대여소명','이용거리']]

In [7]:
dt_test

     대여소번호               대여소명    이용거리
0      646  장한평역 1번출구 (국민은행앞)  1100.0
1      646  장한평역 1번출구 (국민은행앞)  1420.0
2      646  장한평역 1번출구 (국민은행앞)     NaN
3      646  장한평역 1번출구 (국민은행앞)  1380.0
4      512        뚝섬역 1번 출구 옆  1650.0
..     ...                ...     ...
415    112            극동방송국 앞  2200.0
416    103         망원역 2번출구 앞     NaN
417    113       홍대입구역 2번출구 앞  2280.0
418    152         마포구민체육센터 앞  1180.0
419    391              정동길입구  8100.0

[420 rows x 3 columns]

In [8]:
print(dt_test[dt_test['대여소번호']==3])

    대여소번호  대여소명  이용거리
7       3  중랑센터   0.0
23      3  중랑센터   NaN

In [70]:
distance = dt.groupby('대여소번호').mean()

In [71]:
distance.head(10)

           대여거치대  반납대여소번호     반납거치대       이용시간         이용거리
대여소번호
3       7.000000        3  7.000000  25.000000     0.000000
101     2.684211      101  2.463415  33.871795  2049.024390
102    11.529412      101  2.666667  11.722222  1376.470588
103     8.600000      101  2.275862  13.931034  1425.517241
104     6.566667      101  2.593750  12.838710  1085.333333
105     1.500000      101  4.000000  19.333333  1330.000000
106     5.363636      101  2.545455   9.060606   806.562500
108     4.555556      101  2.750000  15.888889  1752.222222
109     9.500000      101  3.000000   7.500000  1455.000000
111     7.250000      101  1.500000  20.000000  2752.500000

In [11]:
print(dt[dt['대여소번호']==646])

        자전거번호             대여일시  대여소번호               대여소명  대여거치대  \
0   SPB-23220  2019-11-01 8:48    646  장한평역 1번출구 (국민은행앞)    3.0
1   SPB-16216  2019-11-04 8:38    646  장한평역 1번출구 (국민은행앞)    2.0
2   SPB-21097  2019-11-04 8:46    646  장한평역 1번출구 (국민은행앞)    1.0
3   SPB-22292  2019-11-05 8:34    646  장한평역 1번출구 (국민은행앞)    1.0
5   SPB-18401  2019-11-06 8:52    646  장한평역 1번출구 (국민은행앞)    1.0
6   SPB-18350  2019-11-06 8:35    646  장한평역 1번출구 (국민은행앞)    1.0
8   SPB-20220  2019-11-11 8:35    646  장한평역 1번출구 (국민은행앞)    2.0
9   SPB-20102  2019-11-11 9:45    646  장한평역 1번출구 (국민은행앞)    8.0
10  SPB-10000  2019-11-12 8:35    646  장한평역 1번출구 (국민은행앞)    8.0
11  SPB-20145  2019-11-13 8:30    646  장한평역 1번출구 (국민은행앞)    9.0
12  SPB-19057  2019-11-13 8:55    646  장한평역 1번출구 (국민은행앞)    4.0
13  SPB-19645  2019-11-14 9:44    646  장한평역 1번출구 (국민은행앞)    NaN
14  SPB-21851  2019-11-14 9:33    646  장한평역 1번출구 (국민은행앞)   10.0
15  SPB-13973  2019-11-15 8:42    646  장한평역 1번출구 (국민은행앞)    1.0
16  SPB-22311  2019-11-18 8:32    646  장한평역 1번출구 (국민은행앞)    6.0
17  SPB-02270  2019-11-18 8:49    646  장한평역 1번출구 (국민은행앞)    4.0
18  SPB-23659  2019-11-21 8:36    646  장한평역 1번출구 (국민은행앞)    NaN
19  SPB-23497  2019-11-21 8:50    646  장한평역 1번출구 (국민은행앞)    2.0
21  SPB-21810  2019-11-25 8:41    646  장한평역 1번출구 (국민은행앞)    5.0
22  SPB-05857  2019-11-26 8:40    646  장한평역 1번출구 (국민은행앞)    6.0
24  SPB-20076  2019-11-28 8:37    646  장한평역 1번출구 (국민은행앞)    6.0

                반납일시  반납대여소번호 반납대여소명  반납거치대  이용시간    이용거리
0    2019-11-01 9:01        3   중랑센터    7.0  12.0  1100.0
1    2019-11-04 8:56        3   중랑센터    2.0   7.0  1420.0
2    2019-11-04 8:57        3   중랑센터    7.0  10.0     NaN
3    2019-11-05 8:45        3   중랑센터    NaN  10.0  1380.0
5    2019-11-06 9:09        3   중랑센터    7.0  11.0  1350.0
6    2019-11-06 9:10        3   중랑센터    2.0   9.0  1390.0
8    2019-11-11 8:42        3   중랑센터    2.0   6.0  1160.0
9   2019-11-11 10:17        3   중랑센터    7.0  30.0  1060.0
10   2019-11-12 8:44        3   중랑센터    2.0   8.0  1300.0
11   2019-11-13 8:38        3   중랑센터    2.0   NaN  1060.0
12   2019-11-13 9:08        3   중랑센터    7.0  11.0     NaN
13  2019-11-14 10:01        3   중랑센터    7.0  16.0  1140.0
14  2019-11-14 10:02        3   중랑센터    2.0  28.0  1220.0
15   2019-11-15 8:50        3   중랑센터    2.0   6.0  1370.0
16   2019-11-18 8:39        3   중랑센터    2.0   NaN  1350.0
17   2019-11-18 9:01        3   중랑센터    7.0  11.0  1350.0
18   2019-11-21 8:44        3   중랑센터    2.0   6.0  1130.0
19   2019-11-21 9:04        3   중랑센터    7.0  13.0  1330.0
21   2019-11-25 8:49        3   중랑센터    2.0   7.0  1310.0
22   2019-11-26 8:48        3   중랑센터    2.0   NaN  1380.0
24   2019-11-28 8:44        3   중랑센터    2.0   5.0  1070.0

In [12]:
dt[dt['대여소번호']==646].describe()

       대여소번호      대여거치대  반납대여소번호      반납거치대       이용시간         이용거리
count   21.0  19.000000     21.0  20.000000  18.000000    19.000000
mean   646.0   4.210526      3.0   4.000000  11.444444  1256.315789
std      0.0   3.010702      0.0   2.513123   7.006066   129.323476
min    646.0   1.000000      3.0   2.000000   5.000000  1060.000000
25%    646.0   1.500000      3.0   2.000000   7.000000  1135.000000
50%    646.0   4.000000      3.0   2.000000  10.000000  1310.000000
75%    646.0   6.000000      3.0   7.000000  11.750000  1360.000000
max    646.0  10.000000      3.0   7.000000  30.000000  1420.000000

In [13]:
import numpy as np

dt2 = dt
dt3 = dt2.replace({'이용거리':np.nan}, {'이용거리':'ex)대표값'})

# replace(찾을데이터, 변경할 데이터)

In [14]:
print(dt3['이용거리'].head(30))

0     1100.0
1     1420.0
2     ex)대표값
3     1380.0
4     1650.0
5     1350.0
6     1390.0
7        0.0
8     1160.0
9     1060.0
10    1300.0
11    1060.0
12    ex)대표값
13    1140.0
14    1220.0
15    1370.0
16    1350.0
17    1350.0
18    1130.0
19    1330.0
20    1030.0
21    1310.0
22    1380.0
23    ex)대표값
24    1070.0
25     450.0
26     550.0
27    5170.0
28    5800.0
29    5350.0
Name: 이용거리, dtype: object

In [15]:
dt

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39,3,중랑센터,7.0,10.0,1650.0
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2019-11-15 4:22,112,극동방송국 앞,5.0,2019-11-15 4:33,101,(구)합정동 주민센터,1.0,11.0,2200.0
416,SPB-17768,2019-11-15 9:31,103,망원역 2번출구 앞,14.0,2019-11-15 9:37,101,(구)합정동 주민센터,NaN,5.0,NaN
417,SPB-18841,2019-11-15 20:40,113,홍대입구역 2번출구 앞,24.0,2019-11-15 20:53,101,(구)합정동 주민센터,1.0,12.0,2280.0
418,SPB-24467,2019-11-15 21:55,152,마포구민체육센터 앞,18.0,2019-11-15 22:05,101,(구)합정동 주민센터,1.0,10.0,1180.0
419,SPB-17570,2019-11-15 22:16,391,정동길입구,7.0,2019-11-15 23:04,101,(구)합정동 주민센터,5.0,48.0,8100.0

In [89]:
dt_m = dt[['대여소번호','대여소명', '이용거리']]
dt_m

     대여소번호               대여소명    이용거리
0      646  장한평역 1번출구 (국민은행앞)  1100.0
1      646  장한평역 1번출구 (국민은행앞)  1420.0
2      646  장한평역 1번출구 (국민은행앞)     NaN
3      646  장한평역 1번출구 (국민은행앞)  1380.0
4      512        뚝섬역 1번 출구 옆  1650.0
..     ...                ...     ...
415    112            극동방송국 앞  2200.0
416    103         망원역 2번출구 앞     NaN
417    113       홍대입구역 2번출구 앞  2280.0
418    152         마포구민체육센터 앞  1180.0
419    391              정동길입구  8100.0

[420 rows x 3 columns]

In [91]:
dt_m = dt_m.replace({'이용거리':np.nan},{'이용거리':dt_m['이용거리'].mean()})

In [92]:
dt_m

     대여소번호               대여소명         이용거리
0      646  장한평역 1번출구 (국민은행앞)  1100.000000
1      646  장한평역 1번출구 (국민은행앞)  1420.000000
2      646  장한평역 1번출구 (국민은행앞)  2679.678218
3      646  장한평역 1번출구 (국민은행앞)  1380.000000
4      512        뚝섬역 1번 출구 옆  1650.000000
..     ...                ...          ...
415    112            극동방송국 앞  2200.000000
416    103         망원역 2번출구 앞  2679.678218
417    113       홍대입구역 2번출구 앞  2280.000000
418    152         마포구민체육센터 앞  1180.000000
419    391              정동길입구  8100.000000

[420 rows x 3 columns]