In [23]:
import pandas as pd

path = 'Apartment.csv'

df = pd.read_csv(path)

In [24]:
df.shape

(121, 44)

In [25]:
df.head()

,부동산물건uid(부동산물건uid),시도명(시도명),시군구명(시군구명),구명(구명),읍면동명(읍면동명),리명(리명),번지(번지),기타번지(기타번지),아파트명(아파트명),총세대수(총세대수),...,공원명(공원명),일반버스번호(일반버스번호),좌석버스번호(좌석버스번호),지하철노선명(지하철노선명),지하철역명(지하철역명),소요시간(소요시간),법정동코드(법정동코드),리모델링여부(리모델링여부),단지 좌표 X값(단지 좌표 X값),단지 좌표 Y값(단지 좌표 Y값)
0,KBA000036,서울특별시,도봉구,NaN,쌍문동,NaN,54,NaN,현*****,783,...,29,NaN,NaN,4호선,쌍문역,버스5 분,1132010500,F,958680.890347,1.962209e+06
1,KBA000051,서울특별시,도봉구,NaN,방학동,NaN,508,NaN,우*****,558,...,"407, 29, 단지공원",NaN,NaN,NaN,NaN,NaN,1132010600,F,957835.090757,1.962039e+06
2,KBA000141,서울특별시,도봉구,NaN,쌍문동,NaN,59,NaN,한*****,735,...,NaN,NaN,NaN,4호선,쌍문역,도보15분,1132010500,F,958662.384857,1.962038e+06
3,KBA000377,서울특별시,도봉구,NaN,창동,NaN,451,NaN,창*****,121,...,NaN,1133,NaN,1호선,녹천,도보15분,1132010700,F,959483.834600,1.960041e+06
4,KBA000469,서울특별시,도봉구,NaN,쌍문동,NaN,53,NaN,성*****,498,...,"단지공원, 35",1165.1120,2,"1호선, 4호선","창동, 쌍문","버스10분, 버스10분",1132010500,F,958475.063008,1.962227e+06

In [26]:
# 컬럼명 확인

for col in df.columns:
    print(col)

부동산물건uid(부동산물건uid)
시도명(시도명)
시군구명(시군구명)
구명(구명)
읍면동명(읍면동명)
리명(리명)
번지(번지)
기타번지(기타번지)
아파트명(아파트명)
총세대수(총세대수)
총동수(총동수)
단지최고층(단지최고층)
단지최저층(단지최저층)
준공연월(준공연월)
건설업체명(건설업체명)
난방방식(난방방식)
난방연료(난방연료)
주차대수(주차대수)
관리사무소전화번호(관리사무소전화번호)
분양권여부(분양권여부)
입주년월(입주년월)
단지특성(단지특성)
우편번호(우편번호)
주상복합여부(주상복합여부)
빌라연립여부(빌라연립여부)
구청명(구청명)
동사무소명(동사무소명)
파출소명(파출소명)
소방서명(소방서명)
은행명(은행명)
병원명(병원명)
스포츠센터명(스포츠센터명)
쇼핑센터명(쇼핑센터명)
학교명(학교명)
공원명(공원명)
일반버스번호(일반버스번호)
좌석버스번호(좌석버스번호)
지하철노선명(지하철노선명)
지하철역명(지하철역명)
소요시간(소요시간)
법정동코드(법정동코드)
리모델링여부(리모델링여부)
단지 좌표 X값(단지 좌표 X값)
단지 좌표 Y값(단지 좌표 Y값)

In [29]:
# 컬럼명 변경하기

df.rename(columns={'읍면동명(읍면동명)':'동명'}, inplace=True)
df.rename(columns={'학교명(학교명)':'학교명'}, inplace=True)

In [47]:
df_school = df[['동명','학교명']]

In [48]:
print(df_school)

      동명                                  학교명
0    쌍문동                               창경, 선덕
1    방학동                           초당, 선덕, 선덕
2    쌍문동                           창경, 백운, 선덕
3     창동               신창, 신창, 월계, 염광, 월계, 염광
4    쌍문동                           동북, 선덕, 선덕
..   ...                                  ...
116  쌍문동                                  NaN
117   창동                                  NaN
118   창동  자운초등학교 도보5분, 창동중학교 도보5, 자운고등학교 도보5분
119  도봉동                                  NaN
120  쌍문동                                  NaN

[121 rows x 2 columns]

In [49]:
# 널값 0으로 처리
# df_school = df_school['학교명'].fillna(0)

In [50]:
df_school = df_school.replace(".",",")

In [51]:
for sch in df_school.values:
    print(sch)

['쌍문동' '창경, 선덕']
['방학동' '초당, 선덕, 선덕']
['쌍문동' '창경, 백운, 선덕']
['창동' '신창, 신창, 월계, 염광, 월계, 염광']
['쌍문동' '동북, 선덕, 선덕']
['도봉동' '오봉, 도봉, 누원']
['도봉동' '창도, 도봉, 도봉정보산업']
['창동' nan]
['쌍문동' nan]
['도봉동' nan]
['방학동' nan]
['쌍문동' '동북.창경.한신, 방학.백운.선덕.신방학.효문, 선덕.세그루패션디자인.정의여자.효문']
['쌍문동' '승리, 정의여자, 신도봉']
['창동' '가인, 창동, 백운, 창동.정의여자,자운']
['창동' nan]
['창동' nan]
['방학동' '방학, 신방학, 정의여자']
['도봉동' '누원,도봉초, 도봉, 도봉,북서울중, 누원,도봉고']
['도봉동' '누원, 도봉, 도봉, 누원']
['쌍문동' '숭미,쌍문, 선덕,정의여자, 선덕,정의여자']
['쌍문동' '창경, 백운, 정의여자']
['도봉동' '도봉초등학교, 누원,도봉, 누원 ,도봉,북서울, 누원,도봉']
['창동' nan]
['쌍문동' '창경,한신, 백운,정의여자,경희여자, 정의여자,선덕,경희여자']
['창동' '자운.창동, 노곡.도봉.창동.창동.창북.창일, 서울문화.서울외국어.자운.정의여자.창동']
['방학동' '신학, 선덕, 선덕']
['방학동' '방학, 신방학, 정의여자']
['쌍문동' '창경, 한신, 동북, 백운, 선덕, 정의, 선덕, 정의']
['쌍문동' '창경, 백운, 선덕']
['쌍문동' nan]
['창동' '창림, 창북, 창동']
['도봉동' nan]
['쌍문동' '숭미.쌍문, 강북.선덕.신도봉.정의여자.효문, 선덕.새그루패션디자인.정의여자.창동.효문']
['방학동' nan]
['쌍문동' '한신, 숭미, 신도봉, 정의여자']
['쌍문동' '쌍문,승리, 도봉여자,정의여자, 강북,정의']
['창동' '창동.창원, 창북.정의여자.창일.노곡, 창동.정의여자.서울외국어.자운']
['쌍문동' '쌍문, 숭미, 선덕, 정의여자, 정의여자, 선덕']
['창동' nan]
['쌍문동' '창경, 백운, 정의여자']
['쌍문동' nan]
['창동' '자운초등학교']
['방학동' '방학, 방학, 선덕']
['창동' nan]
['방학동' '신학, 선덕, 선덕']
['창동' '신화, 신창, 염광, 월계, 신창, 월계, 신일, 염광여자, 영훈, 염광']
['방학동' '신학,동북(사립), 선덕,신방학,방학, 선덕,노원,창동']
['쌍문동' '창경, 백운, 선덕']
['창동' '창일, 노곡, 서울외국어']
['창동' '창원, 창북중, 정의여자, 창동고, 정의여자']
['방학동' nan]
['쌍문동' '창경,동북, 백운,정의여자,선덕, 정의여자,선덕']
['방학동' '신학, 선덕, 선덕']
['방학동' '창동중학교, 자운고등학교']
['방학동' '동북.신학.초당, 방학.신방학.선덕.효문, 선덕.세그루패션디자인.정의여자.효문']
['방학동' '방학, 방학, 선덕']
['쌍문동' '창경, 한신, 동북, 백운, 정의, 선덕,신방학, 정의, 선덕,세그루패션디자인']
['쌍문동' '동북, 선덕, 선덕']
['창동' '자운, 창동, 도봉정보산업']
['창동' '자운.창도, 노곡.도봉.창동.창일, 서울문화.자운.정의여자.창동']
['창동' nan]
['쌍문동' '승리, 신도봉, 정의여자']
['쌍문동' nan]
['방학동' '신학, 선덕, 선덕']
['창동' '창일, 노곡, 청일, 서울외고']
['창동' '월천.창일, 노곡.창북, 서울외국어.자운.창동']
['도봉동' '누원,도봉 , 도봉,북서울, 청원고등학교, 누원,도봉']
['방학동' '방학,신방학, 방학,신방학']
['방학동' nan]
['창동' '월천, 노곡, 서울외고']
['쌍문동' nan]
['창동' '창원,창일, 창북,창일, 창동,서울외국어']
['창동' nan]
['창동' '창원, 창북, 창동']
['방학동' nan]
['도봉동' '누원초등학교, 도봉초등학교, 도봉중학교, 누원고등학교, 청원고등학교']
['창동' '녹천, 녹천, 창동']
['창동' '창동, 노곡, 창동, 창동']
['창동' '창일.월천, 창일.노곡.창북, 서울외국어.창동.자운']
['창동' '쌍문초등학교, 창북중학교']
['방학동' '신학,초당, 선덕, 선덕']
['쌍문동' nan]
['방학동' '신학, 선덕, 선덕']
['방학동' '신방학, 신방학, 선덕']
['창동' '월천, 노곡, 서울외국어']
['쌍문동' '숭미. 쌍문. 한신. 동, 동북, 선덕. 정의. 도봉., 선덕. 정의.']
['쌍문동' '방학, 백운, 정의여자']
['창동' '자운, 창동, 자운']
['도봉동' nan]
['쌍문동' nan]
['도봉동' '도봉, 북서울, 도원']
['쌍문동' nan]
['도봉동' '누원, 도봉, 도봉, 북서울, 청원, 누원']
['방학동' '창동, 창도중,도봉, 온수']
['방학동' '노원고,도봉고.자운고']
['방학동' '창동초, 창동중, 도봉중, , 자운고, 온수고, 창동']
['쌍문동' '숭미초등, 한신초등, 선덕중, 정의여중, 선덕고, 정의여고']
['창동' '강북중, 도봉여중,창,창북,신도봉']
['창동' '창동초, 창북,백운, 창일, 정의여고,선덕,창동,자운,상계']
['창동' nan]
['창동' '창동, 창원, 창북,창일, 창동']
['창동' '창동초, 창동중, 도봉고']
['창동' '신화, 염광, 신창, 염광여자']
['창동' nan]
['도봉동' nan]
['도봉동' '수락, 수락, 수락']
['방학동' nan]
['쌍문동' '동부, 선덕, 선덕']
['방학동' '창도, 창동, 문화']
['쌍문동' nan]
['창동' '가인.창동.창원, 강북.신도봉.창북.창일, 서울외국어.자운.정의여자.창동']
['방학동' nan]
['쌍문동' '쌍문.숭미.한신, 강북.신도봉.창북.효문, 효문.정의여자.창동']
['방학동' nan]
['방학동' nan]
['도봉동' nan]
['쌍문동' nan]
['창동' nan]
['창동' '자운초등학교 도보5분, 창동중학교 도보5, 자운고등학교 도보5분']
['도봉동' nan]
['쌍문동' nan]

In [60]:
df_school.head(20)

     동명                                             학교명
0   쌍문동                                          창경, 선덕
1   방학동                                      초당, 선덕, 선덕
2   쌍문동                                      창경, 백운, 선덕
3    창동                          신창, 신창, 월계, 염광, 월계, 염광
4   쌍문동                                      동북, 선덕, 선덕
5   도봉동                                      오봉, 도봉, 누원
6   도봉동                                  창도, 도봉, 도봉정보산업
7    창동                                             NaN
8   쌍문동                                             NaN
9   도봉동                                             NaN
10  방학동                                             NaN
11  쌍문동  동북.창경.한신, 방학.백운.선덕.신방학.효문, 선덕.세그루패션디자인.정의여자.효문
12  쌍문동                                   승리, 정의여자, 신도봉
13   창동                          가인, 창동, 백운, 창동.정의여자,자운
14   창동                                             NaN
15   창동                                             NaN
16  방학동                                   방학, 신방학, 정의여자
17  도봉동                     누원,도봉초, 도봉, 도봉,북서울중, 누원,도봉고
18  도봉동                                  누원, 도봉, 도봉, 누원
19  쌍문동                         숭미,쌍문, 선덕,정의여자, 선덕,정의여자

In [58]:
df_school2 = df_school.groupby('동명')

In [59]:
df_school2.head()

     동명                                             학교명
0   쌍문동                                          창경, 선덕
1   방학동                                      초당, 선덕, 선덕
2   쌍문동                                      창경, 백운, 선덕
3    창동                          신창, 신창, 월계, 염광, 월계, 염광
4   쌍문동                                      동북, 선덕, 선덕
5   도봉동                                      오봉, 도봉, 누원
6   도봉동                                  창도, 도봉, 도봉정보산업
7    창동                                             NaN
8   쌍문동                                             NaN
9   도봉동                                             NaN
10  방학동                                             NaN
11  쌍문동  동북.창경.한신, 방학.백운.선덕.신방학.효문, 선덕.세그루패션디자인.정의여자.효문
13   창동                          가인, 창동, 백운, 창동.정의여자,자운
14   창동                                             NaN
15   창동                                             NaN
16  방학동                                   방학, 신방학, 정의여자
17  도봉동                     누원,도봉초, 도봉, 도봉,북서울중, 누원,도봉고
18  도봉동                                  누원, 도봉, 도봉, 누원
25  방학동                                      신학, 선덕, 선덕
26  방학동                                   방학, 신방학, 정의여자