In [116]:
import pandas as pd

path = 'New_School.csv'

df = pd.read_csv(path, encoding='cp949')

df

      Unnamed: 0                학교명        구         주소
0              0            선화예술중학교  ['광진구']     ['능동']
1              1           서울숭신초등학교  ['성동구']  ['하왕십리동']
2              2              행당중학교  ['성동구']    ['행당동']
3              3     한양대학교사범대학부속중학교  ['성동구']    ['사근동']
4              4              자양중학교  ['광진구']    ['자양동']
...          ...                ...      ...        ...
3852        3852           국립국악고등학교  ['강남구']    ['개포동']
3853        3853             한국우진학교  ['마포구']     ['중동']
3854        3854              서울농학교  ['종로구']    ['신교동']
3855        3855              서울맹학교  ['종로구']    ['신교동']
3856        3856  경기기계공업고등학교부설공동실습소  ['노원구']    ['하계동']

[3857 rows x 4 columns]